#define ZMK_POINTING_DEFAULT_SCRL_VAL 100

/* レイヤー定義 */
#define LAYER_MAC        0
#define LAYER_WIN        1
#define LAYER_NUM        2
#define LAYER_PUNCT      3
#define LAYER_SYMBOL     4
#define LAYER_SCROLL     5
#define LAYER_SETTING    6

#include <behaviors/rgbled_widget.dtsi>  // needed to use the behaviors
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <input/processors.dtsi>


/* モジュール化された設定・ヘッダー群 */
#include "includes/japanese.dtsi"

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        /* 共通コンボ定義 */
        #include "includes/base_combos.dtsi"

    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to LAYER_MAC &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        /* Shared on/off behaviors: keep the number-layer latch unchanged. */
        tog_on: toggle_layer_on_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer On";
            toggle-mode = "on";
        };

        tog_off: toggle_layer_off_only {
            compatible = "zmk,behavior-toggle-layer";
            #binding-cells = <1>;
            display-name = "Toggle Layer Off";
            toggle-mode = "off";
        };

        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        bspc_del: backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp DELETE>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dot_comma: period_comma {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp PERIOD>, <&kp COMMA>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        /* Tap selects the host IME; hold keeps the existing symbol layer.
         * Preserve the former key's tap-preferred, 200 ms hold-tap timing.
         */
        ime_lt: ime_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&kp>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Mac-Default_Layer { // 0: primary Romaji / English (Mac)
            bindings = <
&kp W             &kp G         &kp H         &kp B             &kp J             &kp V         &kp I       &kp A                     &dot_comma  &kp F
&kp R             &kp S         &kp N         &kp T             &kp K             &kp TAB       &kp U       &kp O                     &kp Y       &kp E
&mt LEFT_SHIFT Z  &kp D         &kp P         &kp M             &kp L     &none   &kp X         &mkp MB1    &lt LAYER_SCROLL ENTER    &kp C       &mt RIGHT_SHIFT Q
&kp LCTRL         &kp LEFT_GUI  &kp LEFT_ALT  &lt LAYER_NUM LANGUAGE_2   &mt LEFT_SHIFT SPACE  &lt LAYER_PUNCT LANGUAGE_2  &bspc_del  &tog_on LAYER_NUM  &ime_lt LAYER_SYMBOL LANGUAGE_1  &lt LAYER_SETTING HASH  &kp DELETE
            >;
        };

        Win-Default_Layer { // 1: primary Romaji / English (Windows)
            bindings = <
&kp W             &kp G         &kp H         &kp B             &kp J             &kp V         &kp I       &kp A                     &dot_comma  &kp F
&kp R             &kp S         &kp N         &kp T             &kp K             &kp TAB       &kp U       &kp O                     &kp Y       &kp E
&mt LEFT_SHIFT Z  &kp D         &kp P         &kp M             &kp L     &none   &kp X         &mkp MB1    &lt LAYER_SCROLL ENTER    &kp C       &mt RIGHT_SHIFT Q
&kp LCTRL         &kp LEFT_ALT  &kp LEFT_GUI  &lt LAYER_NUM LANGUAGE_2   &mt LEFT_SHIFT SPACE  &lt LAYER_PUNCT LANGUAGE_2  &bspc_del  &tog_on LAYER_NUM  &ime_lt LAYER_SYMBOL LANGUAGE_1  &lt LAYER_SETTING HASH  &kp DELETE
            >;
        };

        Num_Layer { // 2: original two-row number layout; pin/unpin at position 38
            bindings = <
&kp F1  &kp F2          &kp UP_ARROW    &kp F4           &kp F5           &kp N1     &kp N2                &kp N3                 &kp N4           &kp N5
&kp F6  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp F10          &kp N6     &kp N7                &kp N8                 &kp N9           &kp N0
&trans  &trans          &trans         &trans          &trans  &trans  &kp MINUS  &mkp MB1              &lt LAYER_SCROLL ENTER  &dot_comma       &dot_comma
&trans  &trans          &trans         &trans          &trans  &trans  &trans     &tog_off LAYER_NUM    &trans                 &kp JP_AMPERSAND  &dot_comma
            >;
        };

        Punctuation_Layer { // 3: original Win-Function positions, shared by JIS hosts
            bindings = <
&kp F1   &kp F2   &kp F3  &kp F4      &kp F5           &none                 &kp JP_LBRACKET  &kp JP_RBRACKET    &kp PERCENT   &kp DOLLAR
&kp F6   &kp F7   &kp F8  &kp F9      &kp F10          &kp LEFT_PARENTHESIS  &kp JP_LPAREN    &kp JP_RPAREN      &kp JP_LBRACE  &kp JP_RBRACE
&kp F11  &kp F12  &none   &kp ESCAPE  &mkp MB3  &trans  &none                 &kp LESS_THAN    &kp GREATER_THAN   &kp QUESTION  &kp JP_QUOTE
&trans   &trans   &trans  &trans      &trans    &trans  &trans                &kp JP_COLON     &trans             &kp JP_YEN    &kp HASH
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        Symbol_Layer { // 4: original Win-Common symbol positions, without OS shortcuts
            bindings = <
&kp JP_AT       &kp EXCLAMATION  &kp JP_DQUOTE     &none          &trans          &kp JP_PIPE       &kp JP_EQUAL    &kp JP_TILDE       &kp JP_CARET     &kp PERCENT
&kp HASH        &kp QUESTION     &kp JP_QUOTE      &kp SEMICOLON  &none           &kp JP_AMPERSAND  &kp JP_PLUS     &kp MINUS          &kp JP_ASTERISK  &kp SLASH
&kp LEFT_SHIFT  &trans           &kp JP_BACKQUOTE  &kp JP_COLON   &trans  &trans  &kp DOLLAR        &kp LEFT_ARROW  &kp JP_UNDERSCORE  &kp JP_YEN       &kp BACKSLASH
&kp LCTRL       &trans           &trans            &trans         &trans  &trans  &trans            &none           &trans             &trans           &kp END
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        Scroll_Layer { // 5: Enter長押し中のみトラックボールをスクロール化
            bindings = <
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        Setting_Layer { // 6
            bindings = <
&studio_unlock     &trans  &trans  &trans  &trans                 &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none              &trans  &trans  &trans  &trans                 &trans        &trans          &trans        &trans        &trans
&trans             &trans  &trans  &trans  &trans  &to LAYER_MAC  &ind_bat      &trans          &trans        &trans        &bt BT_CLR
&none              &trans  &trans  &trans  &trans  &to LAYER_WIN  &bootloader   &studio_unlock  &sys_reset    &trans        &bt BT_CLR_ALL
            >;

            sensor-bindings = <&scroll_up_down>;
        };
    };
};
